@use '../abstract' as *;

.btn__submit {
  width:100%;
  padding-block: 1.125rem;
  background-color: $dark-navy;
  border: none;
  border-radius: 8px;
  color: $white;
  font-weight: $fw-bold;
  grid-area: submit;
}