@use '../abstract' as *;

.newsletter__form {


  @include breakpoint(laptop) {
    margin-block-start: 2.5rem;
  }
  &-control {
    display: grid;
    grid-template-areas: 
    "label . error"
    "input input input"
    "submit submit submit";

    label {
      color: $dark-navy;
      font-weight: $fw-bold;
      font-size: $font-size-sm-body;
      grid-area: label;
    }

    #email-error {
      display: none;
      font-size: $font-size-sm-body;
      font-weight: $fw-bold;
      color: $vermellion;
      grid-area: error;
      justify-self: end;

    }

    .invalid-email {
      display: block;
    }

    input {
      border: 1px solid $light-grey;
      padding-inline-start: 1.5rem;
      padding-block: 1rem;
      border-radius: 8px;
      grid-area: input;
      margin-block-start: 8px;
      margin-block-end: 1.5rem;
      color: $dark-navy;


      &:valid {
        background-color: #fff;
        color: $dark-navy;
        outline: auto;
      }

      &:invalid {
        background-color: hsla(4, 100, 67, 0.15);
        color: #FF527B;
        outline: 1px solid $vermellion;

        &::placeholder {
          color: inherit;
        }
      }

      &:focus {
        outline: 1px solid $dark-navy;
      }
    }
  }
  .btn__submit {
    cursor: pointer;

    &:hover {
      background-image: linear-gradient(to right, #FF6A3A, #FF527B);
    }
  }
}