.newsletter__feature-list {
  padding: 0;
  margin: 0;
  list-style: none;
  // list-style-image: url('../../assets/images/icon-list.svg');
  
  li {
    display: flex;
    align-items: start;
    gap: 1rem;

    &:not(&:last-child) {
      margin-block-end: 10px;
    }
    
  }
}