@use '../abstract' as *;

.newsletter__right-col {
  color: $dark-navy;
 
  .newsletter__heading {
    font-size: 2.5rem;

    @include breakpoint(laptop) {
      font-size: $font-size-heading;
    }
    
  }
}