$vermellion: hsl(4, 100%, 67%);

$dark-navy:hsl(234, 29%, 20%);
$pale-navy: hsl(234, 17%, 26%);
$light-grey: hsla(243, 28%, 13%, 0.25);
$white: hsl(0, 0%, 100%);

$main-font-family: 'Roboto', sans-serif;

$font-size-heading: 3.5rem;
$font-size-body: 1rem;
$font-size-sm-body: .75rem;

// $box-shadow-1: 0 0 8px rgb(0,0,0, 100%);

$fw-normal: 400;
$fw-bold: 700;

$breakpoints: (
  'tablet':  48em,
  'laptop': 64em,
  "desktop": 75em,
);